﻿@page
@model HotelApp.Web.Pages.RoomSearchModel
@{
    ViewData["Title"] = "Room Search";
}

<h1>Room Search</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.StartDate"></label>
        <input asp-for="@Model.StartDate" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.EndDate"></label>
        <input asp-for="@Model.EndDate" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.AvailableRoomTypes?.Count > 0)
{
    <br />
    <h2>Results</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Room Type</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model.AvailableRoomTypes)
            {
                <tr>
                    <td>
                        <strong>@room.Title</strong><br />
                        @room.Description
                    </td>
                    <td>@string.Format("{0:C}", room.PricePerNight)</td>
                    <td>
                        <a asp-page="/BookRoom" 
                           asp-route-RoomTypeId="@room.Id"
                           asp-route-StartDate="@Model.StartDate.ToString("yyyy-MM-dd")"
                           asp-route-EndDate="@Model.EndDate.ToString("yyyy-MM-dd")"
                           >Book Now</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
